*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:white;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: greenyellow;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text h1{
    font-size: 40px;
    margin-top: 10%;
}
.header-text{
    margin-top: 10%;
    font-size: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
}
.color{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.change{
    font-size: 25px;
    font-weight: 150;
    color: white;
    text-align: justify;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;  
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: greenyellow;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style:none;
    margin: 5px 0;
    margin-top: 5px;
}
.tab-contents ul li span{
    color: greenyellow;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

